.user-box{
      width: 20%;
      height: 24vh;
      display: flex;
      flex-wrap: wrap;
      border: 20px;
      padding: 10px;
      margin: 20px;
      border-radius: 20px;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
    
.first-section{
      width: 48%;
      height: 100%;
      display: flex;
      flex-direction: column;
 }
    
.image-name-section{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
    }
    
.image-name-section h2{
      font-size: large ;
      margin-top: 15px;
    }
    
.button-section{
      width: 70%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: auto; 
    }
    
.button-section button{
      width: 100%;
      padding: 6px;
      border: none;
      background-color: #cf2e2e;
      color: white;
      border-radius: 15px;
    }

.user-btn{
      width: 100%;
      border: none;
      background-color: #cf2e2e;
      color: white;
      border-radius: 15px;
      margin-left: 20px;
      
}

.user-btn :hover{
       background-color: rgb(55, 172, 108);
}
    
.second-section{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 48%;
      height: 100%;
    }
    
.column-box{
      width: 20%;
      height: 20%;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0,2);
    }
    
.column-box h5{
      color: #cf2e2e;
}



@media screen and (max-width:1260px){
      .user-box{
        height: 25vh;
      }
    
      .user-box:hover{
        background-color: lightcyan;
        transition: 0.5s ease-out;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
    
    @media screen and (max-width:1024px){
      .user-box{
        width: 23%;
        height: 20vh;
        padding: 7px;
      }
    
      .user-box:hover{
        background-color: lightcyan;
        transition: 0.5s ease-out;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
    
    @media screen and (max-width:800px){
      .user-box{
        width: 35%;
      }
    
      .user-box:hover{
        background-color: lightcyan;
        transition: 0.5s ease-out;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
    
    @media screen and (max-width:620px){
      .user-box{
        width: 70%;
      }
    
      .user-box:hover{
        background-color: lightcyan;
        transition: 0.5s ease-out;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
    
    @media screen and (max-width:480px){
      .user-box{
        width: 100%;
      }
    
      .user-box:hover{
        background-color: lightcyan;
        transition: 0.5s ease-out;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }